<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8"/>
    <title>Blog feito com Sinatra</title>
  </head>
  <body>
    Menu
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/sobre-o-autor">Sobre o autor</a>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>